<!DOCTYPE html>
<html>
    
    <head>
        <title>Fuel Quote History</title>
    </head>

    <style>
        h1 {
            text-align: center;
        }

        form {
            text-align: center;
        }

        table {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            font-size: 15px;
            border-collapse: collapse;
        }

        table th {
            color: #fff;
            background-color: #5c8191;
            border: 1px solid #000;
            padding: 5px 5px;
            text-align: left;
        }

        table td {
            border: 1px solid #000;
            padding: 5px 5px;
            text-align: left;
        }

        table tr:nth-child(odd) td {
            background-color: #eef5f8;
        }
    </style>

    <body>
        <h1>Fuel Quote History</h1>

        <table>
            <tr>
                <th>Gallons Requested</th>
                <th>Delivery Address</th>
                <th>Delivery Date</th>
                <th>Suggested Price / Gallon</th>
                <th>Total Amount Due</th>
            </tr>

            <tr>
                <% for(var i = 0; i < userHist.length; i++) { %>
                <tr>
                    <td>
                        <%= userHist[i].gallons %>
                    </td>
                    <td>
                        <%= userHist[i].address %>
                    </td>
                    <td>
                        <%= userHist[i].date %>
                    </td>
                    <td>
                        <%= userHist[i].price %>
                    </td>
                    <td>
                        <%= userHist[i].total %>
                    </td>
                </tr>
                <% } %>
            </tr>

        </table>

        <form method="POST">
            <br>
            <input type="submit" value="Get New Quote">
        </form>
               
    </body>

</html>